
body {
    font-family: Arial, sans-serif;
  }
  
  .container-sm {
    height: 90%;
    overflow: hidden; 
  }
  
  .content {
    overflow-y: auto; 
    max-height: calc(100% - 80px); 
  }
  
  button.btn-link {
    color: inherit; 
    text-decoration: none; 
    border: none; 
    padding: 0; 
  }
  
  p {
    margin: 0; 
  }
  
